  
 /* remove any default browser styling to avoid clashes*/
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body, html {
  font-family: 'Montserrat', sans-serif; /*font for website*/
  background-color: #f4f4f4; /*background color*/
  margin: 0;
  padding: 0;
  height: 100%;
}

/*header-banner styling*/
header {
  background-color: #819778; /*green background colour*/
  padding: 20px; 
  text-align: center; /*align the text to centre to make a banner*/
  font-size: 25px; 
  color: white; /*text colour*/
}

/*footer styling*/
footer{
  background-color: #f4f4f4; /*light grey background*/
  color: #333; /*dark grey font*/
  padding: 20px 0; /* 20px padding on the top and bottom*/
  border-top: 1px solid #e4e4e4; /*light grey border on the top*/
}

/*container for elements of page*/
.container { 
  display: flex;
  height: 100%;
}

/*styling for left side of the page*/
.left { 
  width: 50%; 
  background-color: pink;
}

/*styling for right side of the page*/
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: green;
}

/*styling for elements within right side of the page*/
.timerBox, .notesBox {
  height: 50%; /*right hand side is split in 2 halves*/
}
